@tailwind base;
@tailwind components;
@tailwind utilities;

.line-break {
  background: linear-gradient(90deg, rgba(32, 36, 45, 0.50) 0%, #20242D 50%, rgba(32, 36, 45, 0.50) 100%);
}

.popular-card:hover {
  border: 3px solid #386EDC;
  box-shadow: -1px -1px 8px 2px rgba(56, 110, 220, 0.25), 1px 1px 8px 2px rgba(56, 110, 220, 0.25);
}